<h1>
  Edit vote #<%= @vote.id %>
</h1>

<hr>

<!-- Form vote start -->
<form action="/update_vote/<%= @vote.id %>" method="post">
<!-- Form vote end -->

  <!-- Label and input for user_id start -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for photo_id start -->
  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <!-- Input for photo_id start -->
    <%= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :caption, @vote.photo_id), :class => "form-control") %>
    <!-- Input for photo_id end -->
  </div>
  <!-- Label and input for photo_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update vote
  </button>
</form>

<hr>

<a href="/votes">
  Go back
</a>
