<h1>
  Edit vote #<%= @vote.id %>
</h1>

<hr>

<form action="/update_vote/<%= @vote.id %>" method="post">


  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <%= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :caption, @vote.photo_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update vote
  </button>
</form>

<hr>

<a href="/votes">
  Go back
</a>
