<h1>
  Add a new vote
</h1>


<hr>

<form action="/create_vote" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <%= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :caption, @vote.photo_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create vote
  </button>
</form>

<hr>

<a href="/votes">
  Go back
</a>
